@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    margin-top: 10%;
    background-color: #2c2c2c;
}

h1 {
    color: rgb(86, 200, 64);
    text-shadow: 0.1em 0.1em 0.2em black;
}

h2 {
    font-size: 1.2em;
    color: white;
}

a {
    background-color: rgb(218, 205, 88);
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}